<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>Filter_UTF-8</filter-name>
        <filter-class>Filter.Filter_UTF8</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter_UTF-8</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>tw.org.iii.lipin.foodsharing.HomeFragment.due_DateListener</listener-class>
    </listener>
    <!--    註冊帳密-->
    <servlet>
        <servlet-name>Sql_Signup_Servlet</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Signup.Sql_Signup_Servlet</servlet-class>
    </servlet>
    <!--    驗證帳號是否重複-->
    <servlet>
        <servlet-name>Sql_Signp_Verify_Account_Servlet</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Signup.Sql_Signp_Verify_Account_Servlet</servlet-class>
    </servlet>
    <!--    驗證電話是否重複-->
    <servlet>
        <servlet-name>Sql_Signp_Verify_phone_Servlet</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Signup.Sql_Signp_Verify_phone_Servlet</servlet-class>
    </servlet>
    <!--    驗證是否擁有帳號密碼-->
    <servlet>
        <servlet-name>Sql_Login_Verify</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.login.Sql_Login_Verify</servlet-class>
    </servlet>
    <!--    加卡片加入sql-->
    <servlet>
        <servlet-name>Sql_AddFoodCard</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.newPreview.Sql_AddFoodCard</servlet-class>
    </servlet>
    <!--    給予帳密,將拿取json整個user資料表-->
    <servlet>
        <servlet-name>Sql_getUser</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.login.Sql_getUser</servlet-class>
    </servlet>
    <!--    抓取食物卡片的資訊-->
    <servlet>
        <servlet-name>Sql_getAddFoodCard</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.HomeFragment.Sql_getAddFoodCard</servlet-class>
    </servlet>
    <!--    拿取發布者token,傳出token通知他-->
    <servlet>
        <servlet-name>MessgingService</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Sql_foodinfoTaker.MessgingService</servlet-class>
    </servlet>
    <!--    搜尋功能-->
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.HomeFragment.Search</servlet-class>
    </servlet>
    <!--    搜尋該用戶發布的食物卡片-->
    <servlet>
        <servlet-name>Sql_ShareFoodcard</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.ShareHistoryFragment.Sql_ShareFoodcard</servlet-class>
    </servlet>
    <!--    加入排隊狀態-->
    <servlet>
        <servlet-name>SQl_queueTaker</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Sql_foodinfoTaker.SQl_queueTaker</servlet-class>
    </servlet>
    <!--    檢查客戶是否已經在排隊中-->
    <servlet>
        <servlet-name>Sql_QueueStatus</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Sql_foodinfoTaker.Sql_QueueStatus</servlet-class>
    </servlet>
    <!--    取消客戶排隊狀態-->
    <servlet>
        <servlet-name>Sql_cancelQueue</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Sql_foodinfoTaker.Sql_cancelQueue</servlet-class>
    </servlet>
    <!--    拿取與user縣市相鄰的食物卡片-->
    <servlet>
        <servlet-name>Sql_getfoodcardCity</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.GoogleMap.Sql_getfoodcardCity</servlet-class>
    </servlet>
    <!--    拿取想排隊的通知-->
    <servlet>
        <servlet-name>SharerNotice</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Notification.SharerNotice</servlet-class>
    </servlet>
    <!--    拿取user自己的foodcard-->
    <servlet>
        <servlet-name>Sql_getTaker</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.FoodinfoGiver.Sql_getTaker</servlet-class>
    </servlet>
    <!--    更新領取狀態-->
    <servlet>
        <servlet-name>updateTakeornot</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.FoodinfoGiver.updateTakeornot</servlet-class>
    </servlet>
    <!--    推播通知索取者-->
    <servlet>
        <servlet-name>GiverMessgingService</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.FoodinfoGiver.GiverMessgingService</servlet-class>
    </servlet>
    <!--    結束食物分享-->
    <servlet>
        <servlet-name>Sql_foodEnd</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.FoodinfoGiver.Sql_foodEnd</servlet-class>
    </servlet>
    <!--    編輯以發布的食物-->
    <servlet>
        <servlet-name>SaveEditFoodCard</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.newPreview.SaveEditFoodCard</servlet-class>
    </servlet>
    <!--    拿取已經有索取且已進入食物卡片-->
    <servlet>
        <servlet-name>getRequestRecord</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.TakeHistoryFragment.getRequestRecord</servlet-class>
    </servlet>
    <!--    拿取是否已經領取狀態-->
    <servlet>
        <servlet-name>gettakeornot</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Sql_foodinfoTaker.gettakeornot</servlet-class>
    </servlet>
    <!--    讓堆方進入排隊-->
    <servlet>
        <servlet-name>updatequequ</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Notification.updatequequ</servlet-class>
    </servlet>
    <!--    拿取已經進入排隊的的狀態-->
    <servlet>
        <servlet-name>getgiveraccept</servlet-name>
        <servlet-class>tw.org.iii.lipin.foodsharing.Notification.getgiveraccept</servlet-class>
    </servlet>
    <!--    註冊帳密-->
    <servlet-mapping>
        <servlet-name>Sql_Signup_Servlet</servlet-name>
        <url-pattern>/Sql_Signup_Servlet</url-pattern>
    </servlet-mapping>
    <!--    驗證帳號是否重複-->
    <servlet-mapping>
        <servlet-name>Sql_Signp_Verify_Account_Servlet</servlet-name>
        <url-pattern>/Sql_Signp_Verify_Account_Servlet</url-pattern>
    </servlet-mapping>
    <!--    驗證電話是否重複-->
    <servlet-mapping>
        <servlet-name>Sql_Signp_Verify_phone_Servlet</servlet-name>
        <url-pattern>/Sql_Signp_Verify_phone_Servlet</url-pattern>
    </servlet-mapping>
    <!--    驗證是否擁有帳號密碼-->
    <servlet-mapping>
        <servlet-name>Sql_Login_Verify</servlet-name>
        <url-pattern>/Sql_Login_Verify</url-pattern>
    </servlet-mapping>
    <!--    加卡片加入sql-->
    <servlet-mapping>
        <servlet-name>Sql_AddFoodCard</servlet-name>
        <url-pattern>/Sql_AddFoodCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <!--    給予帳密,將拿取json整個user資料表-->
        <servlet-name>Sql_getUser</servlet-name>
        <url-pattern>/Sql_getUser</url-pattern>
    </servlet-mapping>
    <!--    抓取食物卡片的資訊-->
    <servlet-mapping>
        <servlet-name>Sql_getAddFoodCard</servlet-name>
        <url-pattern>/Sql_getAddFoodCard</url-pattern>
    </servlet-mapping>
    <!--    拿取發布者token,傳出token通知他-->
    <servlet-mapping>
        <servlet-name>MessgingService</servlet-name>
        <url-pattern>/MessgingService</url-pattern>
    </servlet-mapping>
    <!--    搜尋功能-->
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <!--    搜尋該用戶發布的食物卡片-->
    <servlet-mapping>
        <servlet-name>Sql_ShareFoodcard</servlet-name>
        <url-pattern>/Sql_ShareFoodcard</url-pattern>
    </servlet-mapping>
    <!--    加入排隊狀態-->
    <servlet-mapping>
        <servlet-name>SQl_queueTaker</servlet-name>
        <url-pattern>/SQl_queueTaker</url-pattern>
    </servlet-mapping>
    <!--    檢查客戶是否已經在排隊中-->
    <servlet-mapping>
        <servlet-name>Sql_QueueStatus</servlet-name>
        <url-pattern>/Sql_QueueStatus</url-pattern>
    </servlet-mapping>
    <!--    取消客戶排隊狀態-->
    <servlet-mapping>
        <servlet-name>Sql_cancelQueue</servlet-name>
        <url-pattern>/Sql_cancelQueue</url-pattern>
    </servlet-mapping>
    <!--    拿取與user縣市相鄰的食物卡片-->
    <servlet-mapping>
        <servlet-name>Sql_getfoodcardCity</servlet-name>
        <url-pattern>/Sql_getfoodcardCity</url-pattern>
    </servlet-mapping>
    <!--    拿取想排隊的通知-->
    <servlet-mapping>
        <servlet-name>SharerNotice</servlet-name>
        <url-pattern>/SharerNotice</url-pattern>
    </servlet-mapping>
    <!--    拿取user自己的foodcard-->
    <servlet-mapping>
        <servlet-name>Sql_getTaker</servlet-name>
        <url-pattern>/Sql_getTaker</url-pattern>
    </servlet-mapping>
    <!--    更新領取狀態-->
    <servlet-mapping>
        <servlet-name>updateTakeornot</servlet-name>
        <url-pattern>/updateTakeornot</url-pattern>
    </servlet-mapping>
    <!--    推播通知索取者-->
    <servlet-mapping>
        <servlet-name>GiverMessgingService</servlet-name>
        <url-pattern>/GiverMessgingService</url-pattern>
    </servlet-mapping>  
    <!--    結束食物分享-->
    <servlet-mapping>
        <servlet-name>Sql_foodEnd</servlet-name>
        <url-pattern>/Sql_foodEnd</url-pattern>
    </servlet-mapping>
    <!--    編輯以發布的食物-->
    <servlet-mapping>
        <servlet-name>SaveEditFoodCard</servlet-name>
        <url-pattern>/SaveEditFoodCard</url-pattern>
    </servlet-mapping>
    <!--    拿取已經有索取且已進入食物卡片-->
    <servlet-mapping>
        <servlet-name>getRequestRecord</servlet-name>
        <url-pattern>/getRequestRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettakeornot</servlet-name>
        <url-pattern>/gettakeornot</url-pattern>
    </servlet-mapping>
    <!--    讓堆方進入排隊-->
    <servlet-mapping>
        <servlet-name>updatequequ</servlet-name>
        <url-pattern>/updatequequ</url-pattern>
    </servlet-mapping>
    <!--    拿取已經進入排隊的的狀態-->
    <servlet-mapping>
        <servlet-name>getgiveraccept</servlet-name>
        <url-pattern>/getgiveraccept</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>Sql_Telegram</servlet-name>-->
<!--        <servlet-class>tw.org.iii.lipin.foodsharing.sql.Sql_Telegram</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>sql_sql</servlet-name>-->
<!--        <servlet-class>tw.org.iii.lipin.foodsharing.sql.sql_sql</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>Sql_Inset_into</servlet-name>-->
<!--        <servlet-class>tw.org.iii.lipin.foodsharing.sql.Sql_Inset_into</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>Sql_delete</servlet-name>-->
<!--        <servlet-class>tw.org.iii.lipin.foodsharing.sql.Sql_delete</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>Sql_verify</servlet-name>-->
<!--        <servlet-class>tw.org.iii.lipin.foodsharing.sql.Sql_verify</servlet-class>-->
<!--    </servlet>-->
<!--    -->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Sql_verify</servlet-name>-->
<!--        <url-pattern>/Sql_verify</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>Sql_Telegram</servlet-name>-->
<!--        <url-pattern>/Sql_Telegram</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>sql_sql</servlet-name>-->
<!--        <url-pattern>/sql_sql</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Sql_Inset_into</servlet-name>-->
<!--        <url-pattern>/Sql_Inset_into</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Sql_delete</servlet-name>-->
<!--        <url-pattern>/Sql_delete</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>
